@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #c3e2bc url("./images/bg-2.png") no-repeat center/cover;
  padding-bottom: 6rem;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  column-gap: 2rem;
  position: relative;
}

nav img {
  display: block;
  width: 100px;
}

nav ul {
  display: flex;
  column-gap: 1rem;
}

nav ul li a {
  color: #056666;
  font-size: 0.8rem;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}

nav ul li a:hover {
  color: rgb(23, 156, 233);
}

main > i {
  font-size: 2.5rem;
  color: #056666;
  position: absolute;
  top: 4rem;
  right: 5%;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

main > i:hover {
  color: #179ce9;
  rotate: 90deg;
}

.nav-sideBar {
  background: #fff9f9;
  height: 100%;
  width: 60vw;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  padding: 4rem 2rem;
  transition: right 0.8s ease-in-out;
}

.nav-sideBar.active {
  right: 0;
}

.nav-sideBar img {
  width: 6rem;
}

hr {
  border-color: #7b7e80;
  opacity: 0.25;
}

.nav-sideBar > i {
  font-size: 2.5rem;
  color: #056666;
  position: absolute;
  top: 2rem;
  right: 3rem;
  transition: color 0.4s ease-in-out;
  cursor: pointer;
}

.nav-sideBar > i:hover {
  color: #179ce9;
}

.nav-sideBar-list {
  margin-block: 4rem;
}

.nav-sideBar-list li {
  margin-bottom: 2rem;
}

.nav-sideBar-list li a {
  color: #056666;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.nav-sideBar-list li a:hover {
  color: #179ce9;
  padding-left: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 1rem;
}

.social-links li a i {
  font-size: 2rem;
  color: #179ce9;
  transition: transform 0.4s ease;
}

.social-links li a i:hover {
  color: #056666;
  transform: scale(1.2);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}

.hero h1 {
  font-family: "Great Vibes", serif;
  font-size: 6rem;
  color: #465f19;
  margin-bottom: 2rem;
}

.hero p {
  color: #056666;
  margin-bottom: 3rem;
  max-width: 80%;
}

.hero img {
  width: 70%;
  min-width: 300px;
  min-width: 300px;
}

p a {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: #056666;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}

p a:hover {
  background: rgb(23, 156, 233);
}

small {
  display: flex;
  justify-content: center;
  color: #056666;
}

@media (max-width: 1020px) {
  nav ul {
    display: none;
  }

  .hero h1 {
    font-size: 4rem;
  }

  main > i {
    visibility: visible;
  }
}

@media (max-width: 880px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    row-gap: 4rem;
  }

  .hero h1 {
    font-size: 3.5rem;
  }

  .hero div p {
    max-width: 100%;
  }
}

@media (max-width: 680px) {
  .nav-sideBar {
    width: 100vw;
  }
}
